<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfiguration</key>
	<dict>
		<key>cum.0xilis.BadgerApp</key>
		<dict>
			<key>DefaultConfig</key>
			<dict>
				<key>BadgeColor</key>
				<dict>
					<key>Blue</key>
					<string>0.000000</string>
					<key>ColorName</key>
					<string>Default (Red)</string>
					<key>Green</key>
					<string>0.000000</string>
					<key>Red</key>
					<string>1.000000</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>BadgerCheckCompatibility</key>
	<true/>
	<key>BadgerConfigFormatVersion</key>
	<integer>1</integer>
	<key>BadgerDiplayVersionForMinimumCompatibilityVersion</key>
	<string>1.2.2</string>
	<key>BadgerMinimumCompatibilityVersion</key>
	<integer>6</integer>
	<key>UniversalConfiguration</key>
	<dict>
		<key>DefaultConfig</key>
		<dict>
			<key>BadgeColor</key>
			<dict>
				<key>Blue</key>
				<string>0.168627</string>
				<key>ColorName</key>
				<string>Random</string>
				<key>Green</key>
				<string>0.172549</string>
				<key>Red</key>
				<string>0.588235</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
