<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfiguration</key>
	<dict/>
	<key>BadgerCheckCompatibility</key>
	<true/>
	<key>BadgerConfigFormatVersion</key>
	<integer>1</integer>
	<key>BadgerDiplayVersionForMinimumCompatibilityVersion</key>
	<string>1.2.2</string>
	<key>BadgerMinimumCompatibilityVersion</key>
	<integer>6</integer>
	<key>UniversalConfiguration</key>
	<dict>
		<key>DefaultConfig</key>
		<dict>
			<key>BadgeColor</key>
			<dict>
				<key>Blue</key>
				<string>0.894118</string>
				<key>ColorName</key>
				<string>Random</string>
				<key>Green</key>
				<string>0.015686</string>
				<key>Red</key>
				<string>0.121569</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
